<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404资源未找到</title>
</head>
<body style="background-color: black;color: white;">
<center>
<!--    <img src="http://127.0.0.1:7777/404.jpg" />-->
<!--    <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01cea05755a4d06ac72525ae9cadcd.jpg%40900w_1l_2o_100sh.jpg&refer=http%3A%2F%2Fimg.zcool.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1617854187&t=8f20a7bc2bd12f5ec27301df81928de9" />-->
    <h1>404 抱歉，资源未找到...</h1>
</center>
</body>
</html>